
  body{
  background:linear-gradient( to bottom right, #171973,#CFBCE7,#E160F3,#8E7FFE);
  background-repeat: no-repeat;
  background-size: cover;
}
  .containers{
    background:#F5F5F5;
    color:#100C08;
    margin: 50px;
    margin-left: 300px;
    width: 670px;
    height: 600px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
    font-size: 18px;
  } 
  
  h2{
    margin-right: 20px;
  }
  
  h1{
    font-style: oblique;
    padding: 15px;
    text-align: right;
    margin-right: 30px;
  
  }
  .title{
    text-align: center;
    font-style: italic;
    color:blue ;
   margin-right:80px;
   margin-top: 5px;
  }
  .part1{
    display: flex;
    justify-content: space-between;
  }
  
  .part2{
    margin-right: 20px;
    margin-top: 15px;
  }
   
  .part3{
    margin-left: 20px;
  }
  .part4{
    margin-right: px;
  }
  .footer{
    text-align: end;
    margin-right: 20px;
  }
  span{
    margin-right: 20px;
  }
  .total{
    text-align: right;
    margin-right:190px;
    margin-top:5px;
  }
  button[type=submit] {
    background-color:blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: right;
     width:30%;
    margin-bottom: 10px;
    margin-right: 210px;
    margin-top:10px;
  }
  button[type=submit]:hover {
    background-color:white;
    border:2px solid blue;
     color:  blue;
     font-weight: 600;
     text-decoration: underline;
  }
  .delete{
    color: red;
    background: white;
    font-size: 30px;
    border: 1px solid white;
  }
 
  .notes{
    margin-top: 10px;
    text-align: justify;
  }
  .link{
    text-align: right;
    font-weight: 700;
    text-decoration: none;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
 
  }
  /* .signin { 
    width:500px;
    height:440px;
   background:white;
    margin-left: 400px; */
   /* margin-top: 140px;
   margin-bottom: 40px;
   padding-left: 100px;
   border: 1px solid white;
   border-radius: 5px;
   box-shadow: 10px 10px  10px lightblue;
  }

  .signin input{
    width:300px ;
  }  */
   
  /* .signin2{
    width:550px;
    height:630px;
   background:white;
   margin-left: 400px;
   margin-top: 140px;
   margin-bottom: 40px;
   padding-left: 100px;
   border: 1px solid white;
   border-radius: 5px;
   box-shadow: 10px 10px  10px lightblue;
  }

  .signin2 input{
    width:300px ;
  } */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color:#100C08;
    margin-bottom: 5px;
 text-shadow: 2px;
font-weight: 600;
text-decoration: underline;

  }
  
  input[type=submit] {
    background-color:blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    width:25%;
    margin-top: 100px;
  }
  
  input[type=submit]:hover {
    background-color:white;
    border:2px solid blue;
     color:  blue;
     font-weight: 800;
     text-decoration: underline;
  }
  .table thead{
    color:#100C08;
    font-weight: 500;
    text-decoration: underline;
  }
 
 .table{
  margin-top: 20px;
 }
  .form{
    border-radius: 5px;
  background:whitesmoke;
  padding: 30px;
  width:1000px;
  margin-top: 80px;
  margin-left:200px ;
  height:970px;
  padding-left: 40px;
  padding-top: 80px;
  opacity: 0.9;
  
 }

 
.container{
  background:whitesmoke;
  width: auto;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 6px;
 
}

.col-lg-7{
  
      background-image: url(./images/signin.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:auto;
      height: auto;
     

   }

.signin{
  padding: 20px;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 100px;

}
.signin2 {
  padding: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 70px;

}
.signin2 input{
width:100%;
padding:10px;
}


.create-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  margin-left: 450px;
  width: 400px;
}

.create-recipe form{
  display: flex;
  flex-direction: column;
}

.create-recipe button[type=submit]{
   width: fit-content;
   background:rgb(150, 11, 150) ;
   
}
.create-recipe button[type=submit]:hover {
  color:rgb(150, 11, 150);
  background: white;
}

.create-recipe button[type=button] {
  color: white;
  background: rgb(150, 11, 150);
}

.create-recipe h2{
  color:purple;
}

.navbar{
  background: rgba(150, 11, 150, 0.832);
  
}

.link1{
  color:white;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 800px;
  padding: 10px;
  font-weight: 700;
}
.link1:hover{
  color: white;
  font-weight: 800;
}
.link2 {
  color: white;
  text-decoration: none;
  margin-right: 20px;
font-weight: 700;


}
.link2:hover {
  color: white;
  font-weight: 800;
}

.link3 {
  color: white;
  text-decoration: none;
  margin-left: 100px;
  font-size: 20px;
  padding: 10px;
  font-weight: 800;
  font-style: oblique;
}
